{% extends "base.html" %}
{% load static %}
{% load bootstrap %}
{% block body %}
<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col my-3">
          <h3 class="page-title">Graduates</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item active">{{department}}</li>
            <li class="breadcrumb-item active">Graduate Students List</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-sm-6 col-12 d-flex">
        <div class="card bg-five w-100">
          <div class="card-body">
            <div class="db-widgets d-flex justify-content-between align-items-center">
              <div class="db-icon">
                <i class="fas fa-chalkboard"></i>
              </div>
              <div class="db-info">
                <h3>{{count}}</h3>
                <h6>Total Graduates</h6>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table">
          <div class="card-body">
            <div class="table-responsive">
              <form method="get">
                {% csrf_token %}
                {{search_filter.form|bootstrap}}
                
                <button class="btn btn-primary my-3" type="submit">Search</button>
              </form>
              <table class="table table-hover table-center mb-0 datatable">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Session</th>
                    <th class="text-right">Action</th>
                  </tr>
                </thead>
                {% for student in graduate_students %}
                <tbody>
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{student.user_id}}</td>
                    <td>
                      <h2 class="table-avatar">
                        <a href="{% url 'uniapp:studentdetail' student.id %}" class="avatar avatar-sm mr-2"><img
                            class="avatar-img rounded-circle" src="{{student.profile_pic.url}}"
                            alt="User Image"></a>
                        <a href="{% url 'uniapp:studentdetail' student.id %}">{{student.student_name}}</a>
                      </h2>
                    </td>
                    <td>{{student.student_department}}</td>
                    <td>{{student.session}}-{{student.addmission_year}} </td>
                    <td class="text-right">
                      <div class="actions">
                        <a href="{% url 'uniapp:studentupdate' student.pk %}" class="btn btn-sm bg-success-light mr-2">
                          <i class="fas fa-pen"></i>
                        </a>
                        <a href="{% url 'uniapp:studentdelete' student.id %}" class="btn btn-sm bg-danger-light">
                          <i class="fas fa-trash"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock body %}