{% extends "base.html" %}
{% load static %}
{% block body %}


<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="page-title">Subjects</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item active">Subject List</li>
          </ul>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xl-3 col-sm-6 col-12 d-flex">
        <div class="card bg-five w-100">
          <div class="card-body">
            <div class="db-widgets d-flex justify-content-between align-items-center">
              <div class="db-icon">
                <i class="fas fa-chalkboard"></i>
              </div>
              <div class="db-info">
                <h3>{{subjects_count}}</h3>
                <h6>Total Subjects</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if request.user.teacher.is_sub_admin and request.user.teacher.teacher_department == student_department and hod_check != True or request.user.is_superuser %}
      <div class="col-auto text-right float-right ml-auto">
        <a href="{% url 'uniapp:allSubjectsMarks' %}" class="btn btn-outline-primary mr-2">
          View Result</a>
      </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table">
          <div class="card-body">
            <div class="table-responsive">
              
               <table class="table table-hover table-center mb-0 datatable">
                <thead>
                  <tr>
                    <th>Subject</th>
                    <th>Department</th>
                    <th>Semester</th>
                  </tr>
                </thead>
                {% for subject in subjects %}
                
                <tbody>
                  <tr>
                    <td>
                      <h2 class="table-avatar">
                        <a href="{% url 'uniapp:assessment' subject.id %}">{{subject.subject}}</a>
                      </h2>
                    </td>
                    <td>{{subject.department}}</td>
                    <td>{{subject.semester}}</td>
                  </tr>
                </tbody>
                
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}