<h1>Add New Subject</h1>
{% extends "base.html" %}
{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">

                        <form method="POST">
                            <div class="row">
                                {% csrf_token %}
                                {{form.non_field_errors}}
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>{{form.subject_code.label}}</label>
                                        {{form.subject_code}}
                                        {{form.subject_code.errors}}
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">

                                        <label>{{form.subject_name.label}}</label>
                                        {{form.subject_name}}
                                        {{form.subject_name.errors}}
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">

                                        <label>{{form.credit_hours.label}}</label>
                                        {{form.credit_hours}}
                                        {{form.credit_hours.errors}}
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary" type="submit">Create</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}