{% extends "base.html" %}
{% block body %}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col my-3">
                    <h3 class="page-title">Sutdent</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active">{{request.user.teacher.teacher_department}}</li>
                        <li class="breadcrumb-item active">Add Student</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form method="POST">
                            <div class="row">
                                {% csrf_token %}
                                

                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ form.student_semester.label }}</label>
                                            {{ form.student_semester }}
                                    </div>
                                </div>
                                
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


{% endblock body %}

    
